

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/



/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

/* ------------------------------------ */


/* ------------------------------------ */
input {
  display: block;
	outline: none;
	/* border: none !important; */
}

textarea {
  display: block;
  outline: none;
}

/* textarea:focus, input:focus {
  border-color: transparent !important;
} */

/* ------------------------------------ */
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}




/*//////////////////////////////////////////////////////////////////
[ Utiliti ]*/






/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: var(--kacmazred);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1170px;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 35px;
}
table thead {
  background: var(--gray) !important;
  color: var(--fff);
}
table tbody.tarm tr {
  display: none;
}
table tfoot tr, tr.secondary, table thead.secondary tr {
  height: 35px;
}
table tfoot, tr.secondary, table thead.secondary {
  background: var(--secondary) !important;
  color: var(--fff);
}
table tfoot.tarm tr,table tfoot.tarm tr * {
  height: 10px;
  padding: 0px;
}
table tbody tr {
  height: 35px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: left;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: right;
}


.table100-head th, tfoot td, tr.secondary{
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
  white-space: nowrap;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr {
  font-size: 13px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555555;
  background-color: #E1E1E1;
  /* cursor: pointer; */
}

thead th:hover{
  cursor: pointer;
}

.column1 {
  width: 10%;
  /* padding-left: 10px; */
  text-transform: capitalize !important;
}

.column15 {
  width: 15%;
  text-transform: capitalize !important;
}

.column2 {
  width: 20%;
  text-transform: capitalize !important;
}

.column3 {
  width: 30%;
  text-transform: capitalize !important;
}

.column4 {
  width: 40%;
  text-transform: capitalize !important;
}

.column5 {
  width: 50%;
  text-transform: capitalize !important;
}

.column6 {
  width: 60%;
  /* padding-right: 10px; */
  text-transform: capitalize !important;
}

@media screen and (max-width: 1530px) {
  table:not(.ui-datepicker-calendar,.table-condensed) {
    display: block;
  }
  table:not(.ui-datepicker-calendar,.table-condensed) > *, table:not(.ui-datepicker-calendar,.table-condensed) tr, table:not(.ui-datepicker-calendar,.table-condensed) td, table:not(.ui-datepicker-calendar,.table-condensed) th {
    display: block;
  }
  table:not(.ui-datepicker-calendar,.table-condensed) thead, table:not(.ui-datepicker-calendar,.table-condensed) tfootx {
    display: none;
  }
  table tbody.tarm tr {
    border-radius:10px 10px 0 0;
    display: block !important;
    height: 10px;
    padding: 0px;
    background: var(--gray) !important;
  }
  table:not(.ui-datepicker-calendar,.table-condensed) tr {
    height: auto;
    padding: 37px 0;
  }
  table:not(.ui-datepicker-calendar,.table-condensed) tr td {
    padding-right: 5px !important;
    margin-bottom: 24px;
    text-align: right;
  }
  table.dontchange tr td {
    padding-left: 15% !important;
    margin-bottom: 24px;
  }
  table:not(.ui-datepicker-calendar,.table-condensed) tr td:last-child {
    margin-bottom: 0;
    /* display: flex; */
  }
  table:not(.ui-datepicker-calendar,.table-condensed) tr td:before {
    font-size: 16px;
    color: #999999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 20px;
    top: 0;
  }
  table:not(.ui-datepicker-calendar,.table-condensed) tr td:before {
    content: attr(title);
    width: 25%;
    white-space: break-spaces;
    overflow-wrap: break-word;
    text-align: left;
  }


  .column4,
  .column5,
  .column6 {
    text-align: left;
  }

  .column4,
  .column5,
  .column6,
  .column1,
  .column2,
  .column3 {
    width: 100%;
    white-space: break-spaces;
  }

  tr {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}